// .formbanner{
//     background: url(../../../../assets/imgs/contactBanner.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100vh;
// }

::ng-deep app-contact-us{

.contactbanner{
    background: url(../../../../assets/imgs/contactbannner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    filter: brightness(40%);
}
.heading{
    font-size: 40px;
    letter-spacing: 2px;
}

.contactheading{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}

.contact-width{
    width: auto;
    min-width: 600px;
    max-width: 330px;
    background-color: #fff;
}
.coment{
    height: 150px;
}

.btncontact{
    width: 169px;
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    color: white !important;
    background: linear-gradient(to right, #536274 , #122338);
}

.btncontact:hover{
    background: white !important;
    color: #1c3758 !important;
    border: 2px solid #1c3758;
    width: 175px;
    font-weight: 600;
}


}