<div class="p-3">
    <div class="d-flex w-100 align-items-center justify-content-between">
        <div class="d-flex align-items-center pb-3">
            <p class="pageHeading mb-0">Products</p>
            <button mat-mini-fab color="primary" class="mx-2 addFormIcon" (click)="onEdit()"
                matTooltip="Add New Record">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div>
            <mat-form-field appearance="outline" class="matForm">
                <mat-label>Search ...</mat-label>
                <input matInput [(ngModel)]="model.searchVal" class="text-dark" (keydown.enter)="search(model.searchVal)">
                <mat-spinner matSuffix diameter="20" color="warn" *ngIf="loader"></mat-spinner> 
                <mat-icon matSuffix class="cursorPointer" (click)="search(model.searchVal)" *ngIf="!loader">search</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="tableLoader" *ngIf="tableLoader">
        <mat-spinner matSuffix diameter="70" color="warn"></mat-spinner>
    </div>

    <div class="customTable" *ngIf="!tableLoader">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="cursorPointer editIcon" matTooltip="Edit" (click)="onEdit(element)">edit</mat-icon>
                    <mat-icon class="cursorPointer mx-2 deleteIcon"  matTooltip="Delete" (click)="onRemove(element)">delete</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="tableHead">Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="categoryName">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="subcategoryName">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Sub Category </th>
                <td mat-cell *matCellDef="let element"> {{element.subcategoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef class="tableHead"> Stock </th>
                <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>
</div>

<ng-template #form>
    <div class="p-4">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <p class="pageHeading mb-0">Products</p>
                <span class="mx-2 mb-0 serialNo" *ngIf="model.id"> ( Serial No . {{ model && model.id ? model.id : null
                    }} ) </span>
            </div>
            <div>
                <button mat-mini-fab class="deleteFormIcon" matTooltip="Close" mat-dialog-close>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <ng-container class="container-fluid p-0">
            <div class="row pt-4 d-flex align-items-center containerHeigth">
                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Product Name</mat-label>
                        <input type="text" matInput [(ngModel)]="model.name">
                    </mat-form-field>
                </div>
 
                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Description</mat-label>
                        <input type="text" matInput [(ngModel)]="model.description">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Category</mat-label>
                        <mat-select [(ngModel)]="model.category" (selectionChange)="updateData()">
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let data of categoryData" [value]="data.id">
                            {{data.categoryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Sub Category</mat-label>
                        <mat-select [(ngModel)]="model.subCategory">
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let data of subCategoryData" [value]="data.id">
                            {{data.subCategoryName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Price</mat-label>
                        <input type="text" matInput [(ngModel)]="model.price">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Stock</mat-label>
                        <input type="text" matInput [(ngModel)]="model.stock">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <input type="file" class="form-control" [multiple]="true" (change)="onFileSelect($event)">
                </div>

                <div class="col-md-12 mt-2" *ngIf="this.model.image_url">
                    <div class="d-flex">
                        <div *ngFor="let imgSrc of this.model.image_url">
                            <img [src]="imgSrc" class="borderColor p-3 mx-1" alt="Images" width="150px" height="150px">
                        </div>
                    </div>
                </div>
 
                <div class="col-md-12 d-flex justify-content-end">
                    <button mat-raised-button class="saveBtn"
                        [matTooltip]=" model.id ? 'Edit Products' : 'Save Products'" [loading]="saveLoader"
                        (click)="model.id ? saveData(this.model) : saveData(null)">Save</button>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>