<div class="loginBack">
    <div class="backImgColor h-100vh d-flex justify-content-center align-items-center w-100">
        <div class=" container text-center login-width p-4 b-r-8px box-shabow border">
            <h1 class="mb-5 pt-3 font-bold">Forgot Password?</h1>
            <mat-form-field class="col-md-12 mb-3" appearance="outline">
                <mat-icon matSuffix class="text-dark">email</mat-icon>
                <mat-label>Enter Your Email</mat-label>
                <input type="email" matInput [formControl]="emailValid" [errorStateMatcher]="matcher"
                    [(ngModel)]="model.forgetNameVal">
                <mat-error *ngIf="emailValid.hasError('email') && !emailValid.hasError('required')">
                    Please Enter Correct Email
                </mat-error>
                <mat-error *ngIf="emailValid.hasError('required')">
                    Email Is <strong>Required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-12 mb-3" appearance="outline">
                <mat-icon matSuffix class="text-dark cursorPointer" *ngIf="!isShow"
                    (click)="showPass()">visibility</mat-icon>
                <mat-icon matSuffix class="text-dark cursorPointer" *ngIf="isShow"
                    (click)="hidePass()">visibility_off</mat-icon>
                <mat-label>Type New Password</mat-label>
                <input [type]="isShow ? 'text' : 'password'" matInput [formControl]="rePassValid"
                    [errorStateMatcher]="matcher" placeholder="john#123" [(ngModel)]="model.forgetPassVal">
                <mat-error *ngIf="passValid.hasError('email') && !passValid.hasError('required')">
                    Please Enter A Strong Password
                </mat-error>
                <mat-error *ngIf="passValid.hasError('required')">
                    Password Is <strong>Required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-12 mb-3" appearance="outline">
                <mat-icon matSuffix class="text-dark cursorPointer" *ngIf="!isShow"
                    (click)="showPass()">visibility</mat-icon>
                <mat-icon matSuffix class="text-dark cursorPointer" *ngIf="isShow"
                    (click)="hidePass()">visibility_off</mat-icon>
                <mat-label>ReType Password</mat-label>
                <input [type]="isShow ? 'text' : 'password'" matInput [formControl]="rePassValid"
                    [errorStateMatcher]="matcher" placeholder="john#123" [(ngModel)]="model.rePassVal">
                <mat-error *ngIf="rePassValid.hasError('email') && !rePassValid.hasError('required')">
                    Please Enter A Strong Password
                </mat-error>
                <mat-error *ngIf="rePassValid.hasError('required')">
                    Password Is <strong>Required</strong>
                </mat-error>
            </mat-form-field>
            <div class="col-12 text-center">
                <mat-checkbox color="info" [(ngModel)]="model.savePass">Are You Sure You Want To Save?</mat-checkbox>
            </div>
            <div class="pt-2">
                <button mat-raised-button (click)="Forget()" class="loginBtn mb-3">Save</button>
            </div>
        </div>
    </div>
</div>