<div class="container mt-5 pt-3">
    <p class="heading pb-3">See Your Products</p>
    <div class="row">
      <div class="col-md-8">
        <mat-card class="cardShadow">
          <div class="row p-2">
            <div class="col-md-3 px-2 d-flex align-items-center">
              <img src="../../../assets/imgs/card2.png" class="mb-2" width="80px" height="80px">
              <div class="txtAlign mx-2">
                <span class="mb-0 pb-0 titleName"> Name </span>
                <span class="mb-0 pb-0 name"> Mugs </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="txtAlign mx-2">
                <span class="mb-0 pb-0 titleName"> Discriptoin </span>
                <span class="mb-0 pb-0"> 6-Pcs glass set </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="txtAlign mx-2">
                <span class="mb-0 pb-0 titleName"> Quantity</span>
                <span class="mb-0 pb-0"> 2-Pcs </span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="txtAlign mx-2 ">
                <span class="mb-0 pb-0 titleName"> Duration </span>
                <span class="mb-0 pb-0"> 1 Day Left </span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
</div>