::ng-deep app-navber{
  // .matFieldWidth {
  //   width: 100%;
  // }
  
  // ::ng-deep{
  //   .matField{
  //       .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c83-0.mdc-text-field--outlined{
  //           height: 52px;
  //       }
  //       .mat-form-field.mat-mdc-form-field.example-full-width.ng-tns-c83-0.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-outline.mat-primary.ng-star-inserted.mat-form-field-hide-placeholder{
  //           height: 50px;
  //       }
  //       .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c71-0.mdc-text-field--filled {
  //         background: none;
  //         height: 51px;
  //       }
  //       label#mat-mdc-form-field-label-0 {
  //         color: white;
  //       }
  //       .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c71-0.mdc-text-field--filled:hover {
  //         background: none;
  //       }
  //       .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c71-0.mdc-text-field--filled:focus {
  //         background: none;
  //       }
  //   }
  // }

  .backColor{
    background: #122338;
  }

  .navBackColor{
    background: #232f3e;
  }

  .navLink{
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .iconColor{
    background: #fff;
    color: #000;
  }
  
}