<div class="bg-dark w-100 text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 p-3">
                <!-- <img src="navbarImgs/demoLogo.jpeg" width="50px" height="30px"> -->
                <h2 class="m-0">LOGO</h2>
            </div>
            <div class="col-md-6 pt-4">
                <span class="mx-2 f-s-11">DINNER SETS</span>
                <span class="mx-3 f-s-11">TEA SETS</span>
                <span class="mx-3 f-s-11">PLATE SETS</span>
                <span class="mx-3 f-s-11">BOWL SETS</span>
                <span class="mx-3 f-s-11">MUGS</span>
                <span class="mx-3 f-s-11">GIFT SETS</span>
                <span class="mx-3 f-s-11">HOME DECOR</span>
                <span class="mx-3 f-s-11">CLEARANCE</span>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</div>

<div class="">

</div>
