::ng-deep app-products {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb :hover {
    background-color: #a8bbbf;
  }

  .productsTabs{
    height: calc(100vh - 220px);
    background: #122338;
    color: #fff;
    width: 254px;
    border-radius: 8px;
  }

  .productsTabsTwo{
    height: calc(100vh - 407px);
    background: #122338;
    color: #fff;
    width: 254px;
    border-radius: 8px;
  }

  .cardShadow{
    box-shadow: 1px 2px 8px 0px rgb(63, 62, 62) !important;
  }

  .cardPrice{
    font-size: 20px;
    font-weight: 500;
    color: #175097;
  }

  .filters{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }

  .sortLabel{
    color: #175097 !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
  }

  .heading{
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: emoji;
    padding: 18px 18px 10px 18px;
  }

  .containerHeight{
    height: 92vh;
    // max-height: calc(100vh - 50px);
    overflow: auto;
  }

  .pageLoaderHeight{
    height: 92vh;
  }

  .nameHeading{
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: emoji;
  }

  .subNameHeading{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px;
    color: #175097;
  }

  .productsText{
    font-size: 16px;
    letter-spacing: 1px;
  }

  .nestedText{
    border-left: 2px solid #fff;
    padding: 10px;
    padding-bottom: 0;
  }

  .nestedTextSpan{
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
  }

}