<div class="notification-banner"></div>
<div class="text-center center">
    <h1 class=" mt-5 mainheading">
        Notifications
    </h1>
    <p class="mt-3 para">You Will Get All Notification Avalibale Here</p>
</div>
<div class="my-5">
    <h1 class="head  p-3 text-center">See Notifications</h1>


<div class="parentbox d-flex justify-content-center align-items-center p-3">
    <div class="box cardShadow p-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-1 p-0">
                <img src="../../../../assets/imgs/bell-ring.png" width="30px" height="30px">
            </div>
            <div class="col-md-9 ">
                <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium veniam autem omnis, corrupti enim, ne</p>
            </div>
            <div class="col-md-2 d-flex justify-content-end align-items-center ">
                <a class="" href="#">View More</a>
            </div>
        </div>
    </div>
</div>
</div>