<div class="backgroungImg">

</div>

<div class="changeDisplay">
  <p class="cartHeading mb-3">See Your Cart</p>
  <p class="f-s-20"> We Value All The Products You Have Selected And We Hope You Will Be Happy By Choosing This.</p>
</div>

<div class="container mt-5 pt-3 mb-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex align-items-center">
      <p class="heading">Shopping Cart</p>
      <span class="mb-2 mx-2 cartsCount" matTooltip="Products Count's" *ngIf="dataSource && dataSource.length > 0">( {{ dataSource.length }} )</span>
    </div>
  </div>
  <div class="row text-center mb-3" *ngIf="noRecordMsg">
    <div>
      <img src="../../../../assets/imgs/error.jpg" width="400px" height="350px">
    </div>
  </div>
  <div class="row" *ngIf="!noRecordMsg">
    <div class="col-md-8 colHeight">
      <mat-card class="cardShadow mb-4 mt-2 w-100" *ngFor="let card of dataSource">
        <div class="row p-2">
          <div class="col-md-3 px-2 d-flex align-items-center">
            <img [src]="'../../../assets/imgs/' + card.src" class="mb-2" width="80px" height="80px">
            <div class="txtAlign mx-2">
              <span class="mb-0 pb-0 titleName"> Name </span>
              <span class="mb-0 pb-0 txtHeading w-100"> {{card.productName}} </span>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <div class="txtAlign">
              <span class="mb-0 pb-0 titleName"> Description </span>
              <span class="mb-0 pb-0 txtHeading w-75" [matTooltip]="card.desc"> {{ card.desc }}</span>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-center justify-content-center">
            <div class="txtAlign mx-2">
              <span class="mb-0 pb-0 titleName"> Price </span>
              <span class="mb-0 pb-0 txtHeading w-100"> {{card.price}} </span>
            </div>
          </div>
          <div class="col-md-2 d-flex align-items-center justify-content-center">
            <div class="txtAlign mx-2">
              <span class="mb-0 pb-0 titleName"> Quantity </span>
              <span class="mb-0 pb-0 txtHeading d-flex align-items-center w-100"> <mat-icon class="text-danger cursorPointer"
                  (click)="setQty(card , false)">remove</mat-icon> <span class="mb-0 mx-2">{{ card.qty }}</span>
                <mat-icon class="cursorPointer text-success" (click)="setQty(card , true)">add</mat-icon></span>
            </div>
          </div>
          <div class="col-md-12">
            <mat-divider></mat-divider>
          </div>
          <div class="col-md-12 d-flex justify-content-end pt-2">
            <div>
              <button mat-mini-fab class="btn-sm detailBtn" matTooltip="See Details" (click)="openDetail(card)">
                <mat-icon>info</mat-icon>
              </button>
              <button mat-mini-fab class="btn-sm mx-2 deleteBtn" matTooltip="Delete Products For Cart">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="box w-100 p-2">
        <div class="box-elemets p-2">
          <div>
            <p class="mb-0 box-heading"> Sub Total : </p>
          </div>
          <div>
            <p class="mb-0 box-txt"> 0.00 </p>
          </div>
        </div>
        <div class="p-2">
          <mat-divider></mat-divider>
        </div>
        <div class="box-elemets p-2">
          <div>
            <p class="mb-0 box-heading"> Delivery Charges : </p>
          </div>
          <div>
            <p class="mb-0 box-txt"> 0.00 </p>
          </div>
        </div>
        <div class="p-2">
          <mat-divider></mat-divider>
        </div>
        <div class="box-elemets p-2">
          <div>
            <p class="mb-0 box-heading"> Discount : </p>
          </div>
          <div>
            <p class="mb-0 box-txt"> 0.00 </p>
          </div>
        </div>
        <div class="p-2">
          <mat-divider></mat-divider>
        </div>
        <div class="box-elemets p-2">
          <div>
            <p class="mb-0 box-heading"> Total Amount : </p>
          </div>
          <div>
            <p class="mb-0 box-txt"> 0.00 </p>
          </div>
        </div>
      </mat-card>
      <div class="row mt-3 px-3">
        <div class="col-md-12 text-end">
            <button mat-raised-button class="checkOut" matTooltip="Order Now" (click)="routeToCheckout()">Checkout</button>
        </div>
        <div class="col-md-6 p-0">
          <img src="../../../../assets/imgs/PayPalLogo" class="paymentImgs">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 newsLetter cardShadow mb-5 pt-2">
  <div class="row text-center mt-3">
    <div class="col-md-12">
      <p class="newsLetterHeading mb-4">Subscribe Our NewsLetter</p>
    </div>
    <div class="col-md-12">
      <mat-form-field class="w-100" color="primary" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Example@gmail.com" [(ngModel)]="model.emailVal">
        <button matSuffix mat-raised-button class="sendButton"> Send <mat-icon>forward_to_inbox</mat-icon> </button>
      </mat-form-field>
    </div>
  </div>
</div>
