<div class="container w-100 box">
    <div class="flex-row p-5 b-r-8px box-shabow">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <form>
                    <h1 class="text-center">Sign Up</h1>
                    <div class="form-group">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>User Name</mat-label>
                            <input type="text" matInput [formControl]="userValidator" [errorStateMatcher]="matcher"
                                   placeholder="John">
                            <mat-error *ngIf="userValidator.hasError('username') && !userValidator.hasError('required')">
                              Please Correct User Name
                            </mat-error>
                            <mat-error *ngIf="userValidator.hasError('required')">
                              User Name Is <strong>Required</strong>
                            </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="form-group my-3">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [formControl]="emailValidator" [errorStateMatcher]="matcher"
                                   placeholder="John@gmail.com">
                            <mat-error *ngIf="emailValidator.hasError('email') && !emailValidator.hasError('required')">
                              Please Correct Email
                            </mat-error>
                            <mat-error *ngIf="emailValidator.hasError('required')">
                              Email Is <strong>Required</strong>
                            </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput [formControl]="passwordValidator" [errorStateMatcher]="matcher"
                                   placeholder="Required Strong Password">
                            <mat-error *ngIf="passwordValidator.hasError('password') && !passwordValidator.hasError('required')">
                              Please Correct Password
                            </mat-error>
                            <mat-error *ngIf="passwordValidator.hasError('required')">
                              Password Is <strong>Required</strong>
                            </mat-error>
                          </mat-form-field>
                    </div>
                    <div class="form-group form-check my-3">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">I Agree Terms & Condition</label>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="signUp()">Submit</button>
                </form>
            </div>

            <div class="col-md-5 text-center ml-4">
                <h1>WelCome</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>