::ng-deep app-sign-up{

.signupimg{
    background: url(../../../../src/assets/imgs/signUpImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.backImgColor{
    background: rgb( 0 0 0 / 78%);
}

.txtSignUp{
    font-size: 29px;
    letter-spacing: 2px;
    color: #193557;
    font-weight: 600
}

.w-80{
    width: 80% !important;
}

.resendMsg{
    line-height: 32px;
    font-size: 16x;
    color: gray;
}

.w-30{
    width: 30% !important;
}

.signUpBtn{
    color: white !important;
    background-color: #193557 !important;
}

.signUpBtn:hover{
    color: #193557 !important;
    background-color: white !important;
    border: 2px solid #193557;
    font-weight: 600;
}

.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardColor{
    width: auto;
    background-color: white;
}

}