/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.b-r-8px{
    border-radius: 8px;
}

.box-shabow{
    box-shadow: 2px 2px 40px -5px rgb(63, 62, 62);
}

.cursorPointer{
    cursor: pointer;
}

.f-s-25{
    font-size: 25px !important;
}

.h-60px{
 height: 60px !important;     
}

.f-s-11{
    font-size: 11px !important;
}

.h-100vh{
    height: 100vh;
}