/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.b-r-8px{
    border-radius: 8px;
}

.box-shabow{
    box-shadow: 2px 2px 40px -5px black;
}

.cursorPointer{
    cursor: pointer;
}

.h-100vh{
    height: 100vh;
}