/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", sans-serif; }

.b-r-8px{
    border-radius: 8px;
}
.box-shabow{
    box-shadow: 2px 2px 40px -5px rgb(63, 62, 62) !important;
}
.paraTxt{
    line-height: 32px;
    font-size: 20px;
    color: gray;
}
.f-s-20{
    font-size: 20px !important;
}
.txtUpperCase{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.cursorPointer{
    cursor: pointer;
}
.max-heigthCalc{
    max-height: calc(100vh - 290px);
}
.f-s-25{
    font-size: 25px !important;
}
.h-60px{
 height: 60px !important;     
}

.f-s-11{
    font-size: 11px !important;
}
.f-s-18{
    font-size: 18px !important;
}
.letterSpacing{
    letter-spacing: 2px !important;
}
.h-100vh{
    height: 100vh;
}

.mr-2{
    margin-right: 0.6rem;
}
.ml-2{
    margin-left: 0.6rem;
}
.f-w-b{
    font-weight: bold;
}
.mat-loading .mat-button-wrapper{
    visibility: hidden;
}
.mat-loading .mat-progress-spinner{
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #0c58a3;
    font-weight: 700;
}
.p-10{
    padding: 10px;
}
.ellipsis{
    white-space: nowrap;
    width: 215px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.span-ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.max-width-100px{
    max-width: 100px;
}
.txt-clr-primary{
    color: #0c58a3;
}
.m-w-100{
    max-width: 100%;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb :hover {
    background-color: #a8bbbf;
}
.p-20{
    padding: 20px;
}
.f-s-15{
    font-size: 15px;
}
.f-w-700{
    font-weight: 700;
}
.txt-clr-danger{
    color: red !important;
}
.textClr{
    color: #1f3d62 !important;
}