.container-fluid{
background: #122338;}
.f-heading{
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .heading{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .footerdown{
    border-right: 2px solid #fff;
    padding-right: 6px;
  }
  .list{
    font-size: 15px;
    color: #ffff;
  }
  .footerback{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
  }
