

<div class="container-fluid p-0  ">
    <div class="container">
        <div class="row P-5 d-flex align-items-center justify-content-center ">
            <div class="col-md-4 text-light p-5 pb-3">
                <h1 class="heading  mb-4 mx-2">Category</h1>
                <h3 class="list d-flex align-items-center mb-0 pb-1" *ngFor="let list of listArry"> <mat-icon
                        class="mx-2">{{list.icon}}</mat-icon> {{list.name}}</h3>
            </div>
            <div class="col-md-4 text-light p-5 pb-3">
                <h1 class="heading mb-4 mx-2">QUICK LINKS</h1>
                <h3 class="cursorPointer list d-flex align-items-center mb-0 pb-1 "  [routerLink]="list.route" *ngFor="let list of listArry1"> <mat-icon
                        class="mx-2 mb-0">{{list.icon}}</mat-icon> {{list.name}}</h3>
            </div> 
            <div class="col-md-4 text-light p-5 pb-3">
                <h1 class="heading  mb-4 mx-2">CONTACT US</h1>
                <h3 class="list d-flex align-items-center mb-0 pb-2" *ngFor="let list of listArry2"> <mat-icon
                    class="mx-2 mb-0">{{list.icon}}</mat-icon> {{list.name}}</h3>

            </div>
        </div>
    </div>
<div class="footerback">
    <div class="text-light container p-3">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/imgs/logo st.png" width="80px" heights="70px">
            </div>
            <div class="col-md-8 d-flex align-items-center justify-content-end ">
                <span class="d-flex justify-content-center footerdown mx-2">Shakak Traders @2023 Copyright </span>
                 <mat-icon>facebook</mat-icon> <mat-icon class="mx-2">phone</mat-icon>
 
            </div>
        </div>
    </div>
</div>
</div>