.f-heading{
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
